.main-img {
	width: 100vw;
	filter: brightness(50%);
	z-index: -1;
}
.social-icon {
	font-size: 3rem;
	color: var(--text-dark);
	transition: all 0.3s ease;
}
.social-icon:hover {
	color: var(--primary-color);
	transition: all 0.3s ease;
}
.img-container {
	max-height: 80vh;
	overflow-y: hidden;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	place-items: center;
	position: relative;
}
.img-container h2 {
	font-size: 6rem;
	margin: 0;
}
.img-container .img-container-presentation {
	color: white;
	/* font-size: 4rem; */
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.img-container-presentation p {
	line-height: 2rem;
	max-width: 50%;
	display: block;
	margin: 0 auto;
}
.img-container-btn-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 0;
}
header {
	position: relative;
	top: 0;
	left: 0;
	z-index: 98;
}
.main-nav {
	gap: 1em;
	min-width: 99vw;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
.login-btn-container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 2rem;
}
.testimonial-section {
	text-align: center;
	color: var(--secondary-clr);
	height: 30rem;
	background-color: var(--text-dark);
	min-width: 100vw;
	font-size: 2rem;
	padding: 0 5rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.testimonial-section p {
	width: 70%;
	color: var(--text-light);
}
.services-section {
	text-align: center;
	color: var(--text-dark);
	height: 80vh;
	background-color: var(--primary-color);
	min-width: 100vw;
	font-size: 2.5rem;
	padding: 0 5rem;
	display: flex;
	flex-direction: column;
	justify-content: baseline;
	align-items: center;
}
h2 {
	font-size: 3.2rem;
}
.services-container {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
	flex-wrap: wrap;
	position: relative;
	gap: 2rem;
}
.main-card {
	max-width: 20%;
}
.card-title {
	font-size: 2rem;
}
.card-img {
	border-radius: 1rem;
}
.card-body {
	font-size: 1.225rem;
}
iframe {
	min-width: 100vw;
	height: 50vh;
}
.maps-section {
	position: relative;
	height: fit-content;
}
.maps-card {
	position: absolute;
	top: 25%;
	right: 10%;
	background-color: var(--primary-color);
	padding: 2rem 2rem 2rem 15rem;
	border-radius: 1.5rem;
	text-align: right;
	color: var(--text-dark);
}
.maps-card h4 {
	font-size: 2rem;
	margin: 0;
	padding: 0;
}
footer {
	height: 10rem;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	gap: 1rem;
	align-items: center;
	color: var(--text-dark);
	font-size: 2rem;
}
.contact-section {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	gap: 2rem;
	width: 95%;
	padding: 5rem;
	color: var(--text-dark);
	/* border: 1px solid red; */
}
h5 {
	font-size: 2rem;
	margin: 0;
	padding: 0;
}
.left-contact {
	text-align: left;
	width: 30%;
}
.right-contact {
	width: fit-content;
	width: 50%;
}
.contact-form {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: baseline;
	flex-wrap: wrap;
	gap: 0;
	border-top: 1px solid white;
	border-right: 1px solid white;
	padding: 0;
	border-radius: 0 0.5rem 0 0;
}
.input-form {
	/* min-width: 50%; */
	margin: 1rem;
	background-color: var(--secondary-clr);
	border: 1px solid white;
	border-radius: 0.5rem;
	color: var(--text-dark);
}
label {
	position: relative;
	padding: 1rem;
}
.mail-label,
.name-label,
.message-label {
	position: absolute;
	top: 0;
	left: 20%;
	background-color: var(--secondary-clr);
	padding: 0 0.5rem;
}

@media (max-width: 700px) {
	.img-container-presentation h2,
	.img-container-presentation p {
		display: none;
	}
	.img-container-btn-container {
		flex-direction: column;
	}
	.img-container-btn-container button {
		font-size: 2rem;
	}
	.testimonial-section {
		display: none;
	}
	.services-section .card-title {
		font-size: 2.5rem;
	}
	.services-section {
		padding: 2rem;
		height: fit-content;
	}
	.services-container {
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.services-container article {
		min-width: 100%;
	}
	.services-container img {
		margin: 0 auto;
	}
	.contact-section {
		flex-direction: column;
		padding: 1rem;
		min-width: 100%;
	}
	.left-contact,
	.right-contact {
		width: 80%;
		text-align: center;
	}

	.right-contact form {
		border: 1px solid var(--text-dark);
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		font-size: 1.5rem;
		border-radius: 1rem;
	}
	.right-contact form > label,
	.right-contact form > label input,
	.right-contact form > label textarea {
		width: 100%;
		margin: 0;
		padding: 0.5rem;
	}
	.mail-label,
	.message-label,
	.name-label {
		position: relative;
		background-color: transparent;
		width: fit-content;
		margin: 0;
		margin-top: 0.5rem;
		left: 0;
	}
}
