:root {
font-family: inherit;
    --text: #fafafa;
    /* --background: #000000; */
    --primary-color: #eca869;
    --secondary-clr: #747474;
    --accent: #6054e6;
    color: var(--text);
    background-color: #5f5f5f;
}

html {
    background-color: var(--background);
}
body {
}
#root {
}
button {
    background-color: var(--primary-color);
    color: var(--text);
    margin: 1.5rem auto;
    font-size: 1rem;
    border-radius: 7rem;
    transition: all 0.3s ease;
    padding: 1rem;
    border: none;
    min-width: 7rem;
    opacity: .9;
    cursor: pointer;
}
    button:hover {
    scale: 1.05;
    opacity: 1;
    transition: all 0.2s ease;
}
span {
    color: var(--primary-color); 
}
.card {
    background: transparent;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    color: var(--text);
    font-size: 1rem;
    border: 2px solid var(--primary-color);
    transition: all 0.1s ease-in-out;
}
h1 {
    font-size: 3rem;
    color: var(--primary-color);
}