:root {
	font-family: inherit;
	--text-light: #747474;
	--text-dark: #fff;
	--background: #474747;
	--primary-color: #ab6e1e;
	--secondary-clr: #4a4a4a;
	--accent: #6054e6;
	font-size: 12px;
	/* color: var(--text); */
	/* background-color: #ffffff; */
}

html {
	color-scheme: light;
	background-color: var(--background);
	position: relative;
}
body {
	position: relative;
	min-height: 100vh;
	min-width: 100vw;
	overflow-x: hidden;
}
#root {
	position: relative;
	width: 100%;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}
button {
	color-scheme: dark;
	background-color: var(--primary-color);
	color: var(--text-dark);
	margin: 1.5rem auto;
	font-size: 1.225rem;
	border-radius: 7rem;
	transition: all 0.3s ease;
	padding: 1rem;
	border: none;
	min-width: 7rem;
	opacity: 0.9;
	cursor: pointer;
}

button:hover {
	scale: 1.05;
	opacity: 1;
	transition: all 0.2s ease;
}
.logout-btn {
	margin: 0 auto;
	position: absolute;
	bottom: 1rem;
}
.logout-btn-dashboard {
	position: relative;
	margin: 0 3rem;
}
span {
	color: var(--primary-color);
}
.card {
	background: transparent;
	display: flex;
	position: relative;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
	padding: 1rem;
	font-size: 1rem;
	text-align: left;
	/* border: 2px solid var(--primary-color); */
	transition: all 0.1s ease-in-out;
	justify-self: flex-start;
	/* margin-top: 5rem; */
	min-width: 100vw;
}
h1,
h3 {
	font-size: 3rem;
	color-scheme: dark;
	color: var(--text-dark);
	margin: 0;
}
.home-container {
	border: 3px solid green;
	min-height: 100vh;
	min-width: 100vw;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
}
nav ul li:hover {
	color: var(--primary-color);
	transition: all 0.3s ease;
}
nav ul li {
	transition: all 0.3s ease;
}
ul {
	display: flex;
	gap: 3rem;
}
nav {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	min-width: 100%;
	min-height: 8rem;
	position: relative;
	padding: 1rem;
	color: var(--text-dark);
}
.logo {
	max-width: 6rem;
	height: 6rem;
	aspect-ratio: 1.1;
	border-radius: 50%;
	display: inline;
	position: absolute;
	left: 1rem;
}
.enterprise-name {
	margin: 0;
	position: absolute;
	left: 8rem;
}
.close-btn {
	position: absolute;
	top: 5rem;
	right: 5rem;
}
a {
	color: var(--text-dark);
}
form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
label {
	color: var(--text-dark);
}
input,
textarea {
	border-radius: 0.3rem;
	padding: 0.8rem 8rem;
	margin: 1rem 0;
	margin-bottom: 2.2rem;
	border: none;
	font-size: 1rem;
	text-align: left;
	background-color: grey;
	transition: all 0.3s ease;
	cursor: pointer;
	width: min(20rem, 100%);
	text-align: center;
	padding: 0.5rem;
}
input:focus,
textarea:focus {
	background-color: GhostWhite;
	transition: all 0.3s ease;
}
/* input:invalid {
	border: 1px solid red;
} */
p {
	color: var(--text-dark);
}
@media (max-width: 992px) {
	:root {
		font-size: 10px;
	}
}
@media (max-width: 650px) {
	input {
		width: 100%;
	}
}
