h3 {
	color: var(--primary-color);
	text-align: center;
	display: block;
	margin: 2rem auto;
}
.appointment-infos {
	text-align: center;
	margin: 1rem;
	border: 2px solid var(--primary-color);
	border-radius: 1rem;
	padding: 0.2rem 5rem;
	font-size: 1.4rem;
	width: 100%;
}
